<h1>Add Salesperson to Staff</h1>

<%= form_for @salesperson do |salesp| %>
    <%= salesp.label :name %>
    <%= salesp.text_field :name %>
    <br>

    <h3> Cars Assigning </h3> 

    <select name = "car">
    <% Car.all.each do |car|  %>
    <option value=<%= car.id %>> <%= car.car_name %> </option>
    <% end %>
    </select> 

    <%= salesp.submit "Add new salesperson" %> 

<% end %>


