<h1><%= "#{@car.brand} #{@car.name}" %></h1>

<h2>$<%= @car.price %></h2>

<p>Car is available: <%= !@car.sold %>

<h3>Assigned SalesPeople</h3> 



<p><%= link_to 'Back to home', cars_path %></p>
<p><%= link_to 'Edit Car Details', edit_car_path(@car) %></p>

